@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;600;700&display=swap");

:root {
  --ColorBtnSurface: #ffffff;
  --ColorPrimary: #1e90ff;
  --ColorBackground: #ffffff;
  --ColorSurface: #121314;
  --ColorGrayLv1: #f3f5fa;
  --ColorGrayLv2: #d9dbe0;
  --ColorGrayLv4: #47494d;
  --ColorError: #ff3440;
  --ColorWarning: #ffc533;
  --ColorActivation: #c7e1ff;
  --EffectShadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: var(--ColorSurface);
}

button,
input,
input:placeholder {
  font-size: 1.6rem;
  line-height: 2.2rem;

  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: var(--ColorSurface);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  word-break: keep-all;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border: 0;
  cursor: pointer;
  background-color: var(--ColorBtnSurface);
  border: 1px solid var(--ColorGrayLv2);
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
}
button:disabled {
  cursor: default;
  background-color: var(--ColorGrayLv1);
}

label {
  user-select: none;
}
input::placeholder,
textarea::placeholder {
  line-height: 2rem;
  color: var(--ColorGrayLv2);
}

@media (max-width: 540px) {
  body {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  input {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: 2px solid var(--ColorPrimary);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multi-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
